body {
  background-color: red;
}

h1 {
  color: white;
}

p {
  color: white;
}

.bigbox {
  display: block;
  width: 100%;
}

.box {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: violet;
  padding: 20px;
  width: 80%;
}
